<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' type='text/css' href='../public/dist/index.css' />
  </head>
  <body>
    {{> content}}
  </body>
  {{> scripts}}
</html>